* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content:center;
}

.menu {
  /* border: 1px solid #fff; */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.signup {
  margin-left: auto;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

/* To help visualize */
.nav-header {
  border-width: 5px;
  border-style: solid;
}

.nav-header li {
  border-width: 5px;
  border-style: solid;
  border-color: brown;
}
/* To help visualize */

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  flex: 1;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  /* border: 1px solid #000000; */
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.photo-grid-item {
  /* border: 1px solid #fff; */
  width: 300px;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}